/* responsive design  */


@media screen and (max-width:1250px){
    .container{
    max-width: 92%;
    margin:0 auto;
    /* border:2px solid red; */
    }

}
/* small device */
@media screen and (max-width:576px){
     /* navbar section  */  
    .container{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0 auto;
    }
    .container .section-container{
        display: contents;
        
    }
    nav .hamburger-icon{
        display:block;
        
    }
    nav .hamburger-icon i{
        color:#FFFFFF;
        
    }
    nav ul{
        display: none;

    }
    nav .btn{
        display: none !important;
    }

    /* banner section  */
    .banner-section{
        min-height: auto;
        padding:40px 15px;
    }
    .banner-section .banner-container{
        margin: 0;
        gap:24px;
    }
    .banner-section .rounded-mic-parent{
        max-width: 100%;
        width: 280px;
        padding: 0;
    }
    .banner-section .rounded-mic-parent .rounded-shape{
        width: 96%;
        height: auto;
    }
    .banner-section .rounded-mic-parent .mic{
        width:70px;
    }
    .banner-section .rounded-mic-parent span{
        font-size: 0.8rem;
        padding:8px 16px;
        font-weight: 600;
        left:200px;
        top:10px;
    }
    .banner-section .banner-container div h2{
        font-size: 2.6rem;  
    }
    .banner-section .banner-container div p{
      font-size: 0.8rem;
    
    }
    .btn{
        font-size: 0.8rem;
        padding:4px 8px;
    }
    .banner-section .btn-section{
        margin-top: 10px;
    }
    .btn-transparent{
        font-size: 0.8rem;
        padding:4px 8px;
    }
    /* About Section  */
  
    .container .section-container .about-section{
       gap:40px;
       margin: 30px 0;
    }
    .section-container .about-section .about-podcast{
        padding:0 15px;
    }
  
    .section-container .about-section .about-podcast h2{
        font-size: 1.8rem;
    }
    .section-container .about-section .about-podcast p{
        font-size: 0.9rem;
        line-height: 1.6;
    }
   .section-container .about-section .episode{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    text-align: center;
    
   }
   /* techwave section  */

   .section-container .techwave-section{
    gap:25px;
    margin: 60px auto;
    padding:0 15px;
   }
   .section-container .techwave-section h2{
    font-size: 1.8rem;
    text-align: center;
   }
   .section-container .techwave-section .techwave{
    grid-template-columns: 1fr;
    gap:20px;
   }
   .techwave div{
    grid-column: auto !important;
    grid-row: auto !important;
    padding: 25px 20px;
    border-radius: 20px;
    
   }
   /* feature section  */
   .container .section-container .feature-section{
    gap:25px;
    margin: 40px auto;
    padding:0 15px;
   }
   .section-container .feature-section .feature-episode{
    gap:20px;
   }
   .feature-section .feature-episode h2{
    font-size: 1.8rem;
    text-align: center;
   }
   .section-container .feature-section .feature-cards{
    grid-template-columns: 1fr;
    gap:20px;
   }
   .feature-cards .card{
    grid-column: auto !important;
    grid-row: auto !important;
   
   }
   .video-container .content{
    text-align: center;
   }
   .video-container .content h3{
    font-size: 1.2rem;
    text-align: left;
   }
   .video-container .content p{
    font-size: 0.9rem;
    line-height: 1.6;
    text-align: left;
   }
   .video-container .content .clock{
    justify-content: flex-start;

   }
   
   /* host section  */
   .feature-section .host-container h2{
    font-size: 2rem;
   }
   .host-container .host-content{
    flex-direction: column;
    gap:12px;
    padding: 20px;
    
   }
   .host-container .host-content .host-details h3{
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
   }
   .host-container .host-content .host-details p{
    font-size: 0.9rem;
    align-items: center;
    
   }
   .host-container .host-content .host-details .icons{
    justify-content: center;
   }
   /* footer section  */
   .footer-section .footer-content .social-media-links{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    justify-items: center;
   }
   .footer-section .footer-content p{
    text-align: center;
   }
   
   
}
/* medium device  */
@media screen and (min-width: 576px) and (max-width: 992px){
  /* navbar section  */  
    .container{
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0 auto;
    }
    .container .section-container{
        display: contents;
        
    }
    nav .hamburger-icon{
        display:block;
        
    }
    nav .hamburger-icon i{
        color:#FFFFFF;
        
    }
    nav ul{
        display: none;

    }
    nav .btn{
        display: none !important;
    }
    /* banner section  */
    .banner-section{
        min-height: auto;
        padding:40px 15px;
    }
    .banner-section .banner-container{
        margin: 0;
        gap:24px;
    }
    .banner-section .rounded-mic-parent{
        max-width: 100%;
        width: 280px;
        padding: 0;
    }
    .banner-section .rounded-mic-parent .rounded-shape{
        width: 96%;
        height: auto;
    }
    .banner-section .rounded-mic-parent .mic{
        width:70px;
    }
    .banner-section .rounded-mic-parent span{
        font-size: 0.8rem;
        padding:8px 16px;
        font-weight: 600;
        left:200px;
        top:10px;
    }
    .banner-section .banner-container div h2{
        font-size: 2.6rem;  
    }
    .banner-section .banner-container div p{
      font-size: 0.8rem;
    
    }
    .btn{
        font-size: 0.8rem;
        padding:4px 8px;
    }
    .banner-section .btn-section{
        margin-top: 10px;
    }
    .btn-transparent{
        font-size: 0.8rem;
        padding:4px 8px;
    }
    /* about section  */
    .section-container .about-section .episode{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    text-align: center;
    
   }
   /* footer section  */
  .footer-section{
    display: flex;
    justify-content: center;
  }

   
   


}

